<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%=@name%>, </h1>
    <p>
      Your reservation was succesfull and your tickets are waiting for you to be picked up at the cinema.
      Please make sure to pick them up 30 minutes before the seance.
      Your seats are: <%=@reservation.seat %>
    </p>
    <p>
      Enjoy the movie! <%= @url %>.
    </p>
    <p>Thanks for joining Monterail Cinema and have a great day!</p>
  </body>
</html>